{% extends 'base.html' %}
{% block title %}
Reseting _password
{% endblock title %}
{% block style %}
#form{
  border:4px blue solid;
  background-color:#48C9B0;
  height:300px;
  width:500px;
}
{% endblock style %}
{% block content %}
{% if validlink %}
<center>
<div class="text-center text-primary mt-4" id="form">
    <h3>Change password</h3>
    <center>
    <form method="post">
      {% csrf_token %}
            {% for field in form%}
            &nbsp;<br>{{field.label}}
            {{field}}<br><br>
            {% endfor %}
      <button type="submit" class="btn-primary">Change password</button>
    </form>
  </center>

  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock content %}